<!DOCTYPE html>
<html>

<head>
     <title>Folders View</title>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>

     <div class="wrapper">

          <div id="form-container" class="oj-form-layout">
               <div class="oj-form oj-sm-odd-cols-12 oj-md-odd-cols-4 oj-md-labels-inline">
                    <div class="oj-flex">
                         <div class="oj-flex-item">
                              <label for="username">Username: </label>
                         </div>
                         <div class="oj-flex-item">
                              <input id="username" style="background-color: white;" placeholder="enter your username" data-bind="ojComponent: {component: 'ojInputText',
                                         required: true, value: 'lbeatty@fishbowlsolutions.com'}">
                         </div>
                    </div>
                    <div class="oj-flex">
                         <div class="oj-flex-item">
                              <label for="password">Password: </label>
                         </div>
                         <div class="oj-flex-item">
                              <input id="password" data-bind="ojComponent: {component: 'ojInputPassword', required: true}">
                         </div>
                    </div>

                    <input id="submit" type="submit" data-bind="click: login,
                      ojComponent: {component: 'ojButton', label: 'Submit'}" />
               </div>
          </div>
     </div>


     <div id="listViewContainer">
          <ul id="listview" aria-label="list using observable array" data-bind="ojComponent: {
            component: 'ojListView',
            data: dataSource,
            selectionMode: 'multiple',
            selection: selectedItems,
            item:
            {
                renderer: function(context)
                {
                    return context['data']['name'];
                }
            }
        }">
          </ul>
     </div>

</body>

</html>